<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="execution Order">
	<test name="order of  Test">
		
		
		<classes>
			<class name="testNgPractice.TestClass1" />
			<class name="testNgPractice.TestClass2" />
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->